[user]
	name = Adam M. Jacobs
	email = ajacobs@pa.msu.edu
[core]
    preloadindex = true
[push]
    #default options: 
    #   current  - push current branch to remote branch of same name
    #   nothing  - force error on push that doesn't explicitly give a refspec
    #   simple   - the baseline default, push current branch to upstream branch
    #              pulled from, give an error if these two branches aren't the same. If
    #              pushing to remote other than the remote tracking, act like `current`
    #   upstream - good for central workflows, push current branch to the branch
    #              whose changes are usually pulled from (@{upstream}). Branch names may
    #              differ without error!
    #   matching - push _all_ branches having the same name on both ends, which
    #              means this doesn't work with a workflow where you work on one branch at
    #              a time.
    default = current
[pull]
    #By default, rebase instead of merging when pulling, BUT do preserve local
    #   merges instead of inlining (this makes the history clean and legible if
    #   everyone's using git best practices)
    rebase = merges
[color]
    ui = auto
[diff]
	submodule = log
[status]
    #Add a summary of submodule changes when doing `git status`
	submodulesummary = 1
[alias]
    #Pretty yet concise log alternative
    lg = log --oneline --graph --decorate
    #Quickly show last commit details
    last = log -1 HEAD
    #Status without all the annoying untracked files
    stat = status -uno
