# My workstation at Stony Brook
Host sn
   HostName sn.astro.sunysb.edu
   User ajacobs

# Mike's main research workstation at SBU
Host bender
   HostName bender.astro.sunysb.edu
   User ajacobs

# OLCF Supercomputer
Host titan
   HostName titan.ccs.ornl.gov
   User ajacobs

# NSCL Gateway, leads to JINA-CEE space and some of Cyburt's stuff
Host nscl
   HostName nsclgw1.nscl.msu.edu
   User jacobsa

# iCER's center with various clusters
Host hpcc
   HostName gateway.hpcc.msu.edu
   User jacob308

# Setup a proxy jump to intel14
# ProxyJump was introduced in OpenSSH 7.3 (Aug 2016), you'll have to remove this
# for older ssh.  Don't know of good solution for making this ssh config work on
# systems with older ssh.
Host intel14_proxy
   HostName dev-intel14
   ProxyJump jacob308@gateway.hpcc.msu.edu 
   User jacob308

# XSEDE login node, from here can get to e.g. Comet w/ gsissh comet
Host xsede
    HostName login.xsede.org
    User ajacobs

# Preferences for all hosts
Host *
   # Stop disconnecting me dammit!
   ServerAliveInterval 60
